<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/foto de perfil.jpg"  
        class="img-fluid" id="fotodeperfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">Tablate Alfredo</p>
        <p>Full Stack Developer Jr</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-lg-8">
        <span>

        <h1>Acerca de Mí</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Enim aliquid assumenda beatae molestias ipsa, 
            quas aut nam optio molestiae deleniti perferendis,
             laborum quod fugiat porro earum labore id! Praesentium, temporibus!</p>
        </span>
    </div>
</div>
