<div class="row">
    <h1>Experiencia laboral</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">

        <ul>
            <li><h1>Trabajo 1</h1>-<h3>(años)</h3> </li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Consequatur voluptates eum, sed asperiores ratione sunt minima,
                maiores quas voluptatem qui ducimus ipsa,
                alias odit magni at blanditiis quibusdam iusto! Nam.
    </p>
    <li><h1>Trabajo 2</h1>-<h3>(años)</h3> </li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Consequatur voluptates eum, sed asperiores ratione sunt minima,
                maiores quas voluptatem qui ducimus ipsa,
                alias odit magni at blanditiis quibusdam iusto! Nam.
    </p>
    <li><h1>Trabajo 3</h1>-<h3>(años)</h3> </li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Consequatur voluptates eum, sed asperiores ratione sunt minima,
                maiores quas voluptatem qui ducimus ipsa,
                alias odit magni at blanditiis quibusdam iusto! Nam.
    </p>
</ul>
</div>
</div>

